@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+PL:wght@100..400&family=Roboto+Slab:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    background-color: #000000;
    text-align: center;
}
.container{
    height:100%;
    display: flex;
 justify-content: center; 
 gap:40px;
    margin-top: 70px;
}
.game{
    height: 50vmin;
    width:54vmin;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
    -moz-box-shadow: 10px 10px 156px 0px rgb(0, 0, 0);
    box-shadow: 10px 10px 156px 0px rgb(54, 53, 53);
}
.box{
    height:18vmin;
    width:18vmin;
    /* border-radius: 1rem; */
    border: 2px solid black;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #EEEEEE;
}
#reset-btn{
    padding: 10px 10px;
    margin-right:15px;    
    margin-left:15px;
    margin-top:80px;
    cursor: pointer;
    font-size: clamp(0.9rem, 2.5vw, 2rem);   
    background-color: #A91D3A;
    color:rgb(0, 0, 0);
    font-weight: 500;
    border:none;
    color:#ffffff; 
}
#reset-btn:hover{
    -webkit-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
    -moz-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
    box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
    border: 1px solid black;

}
#new-btn:hover{
    -webkit-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
-moz-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
    border: 1px solid black;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #C73659;
    color:white;
    border-radius:1rem;
    border:none;
    transition: 1s linear;
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.3);
   
}
#msg{
    color: #f72346;
    font-size: 5vmin;
    font-weight: 700;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.player-x{
    background-color: #151515;
    color:#A91D3A
}
.player-o{
    background-color: #A91D3A;
    color: #151515;
}
.main{
    display:none;
}
h1{
    font-size: 5rem;
    color: #A91D3A;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    font-family: "Dancing Script", system-ui;
    font-weight:900;
    font-style: normal;
    margin-top: 40px;
}
.shake {
    animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.button-container{
    display :flex; justify-content :space-evenly;
    
}
  #pvp-btn, #pvc-btn {
    padding: 10px 10px;
    margin-right:15px;    
    margin-left:15px;
    margin-top:10px;
    cursor: pointer;
    font-size: clamp(0.9rem, 2.5vw, 2rem);   
    background-color: transparent;
    color:rgb(0, 0, 0);
    font-weight: 700;
    border:none;
    color:#A91D3A;
}  
#pvp-btn:hover{
    -webkit-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
    -moz-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
    box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
        border: 1px solid #A91D3A;
  }
  #pvp-btn:visited{
    -webkit-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
    -moz-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
    box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
        border: 1px solid #A91D3A;
  }
 #pvc-btn:hover{
    -webkit-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
    -moz-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
    box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
        border: 1px solid #A91D3A;
  }

#start-game-btn:hover{
    -webkit-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
-moz-box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
box-shadow: 10px 10px 156px 0px rgba(237,43,124,1);
    border: 1px solid black;
}
#start-game-btn{
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: #C73659;
    color:white;
    border-radius:1rem;
    border:none;
    transition: 1s linear;
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.3);
    text-align: center;
    margin-top: 20px;
}

.start-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly; 
}
.img{
    background-color: red;
    overflow: hidden;
    width: 300px;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.creator {
    text-align: center;
    margin-top: 70px;
    font-size: 1rem;
    color: #423c3d;
    font-weight: 600;
    text-decoration: underline;
}



.hide{
    display: none; 
}
